
$base-color-black: #332020;
$base-color-glay: #ede4e4;
$base-color-white: #fff;
$base-color-red: #bd4545;
$base-color-blue: #456bbd;
$base-color-green: #45bd7b;
$base-color-pink: #bd458b;
$base-color-brown: #bd5d45;

$round: 5px;