@import "_variables.scss";
@mixin bg_gradation1($direction, $color_st: #4e4e5a, $color_end: #22181b) {
    background: linear-gradient(to $direction, $color_st, $color_end);
}

body {
}

.bg_0 { 
    position: absolute; 
    content: ""; 
    width: 260px; 
    height: 700px; 
    background-color: $base-color-brown; 
    opacity: .8; 
    top: 50px; 
    left: 60px; 
    z-index: 5;
}

.bg_1 { 
    position: absolute; 
    content: ""; 
    width: 400px; 
    height: 200px; 
    background-color: $base-color-brown; 
    opacity: .4; 
    top: 600px; 
    left: 160px; 
    z-index: 10;
}

.bg_2 { 
    position: absolute; 
    content: ""; 
    width: 300px; 
    height: 600px; 
    background-color: $base-color-brown; 
    opacity: .6; 
    top: 500px; 
    right: 60px; 
    z-index: 15;
}

.main { 
    position: relative; 
    z-index: 30;
}

.header { 
    width: calc(100% - 100px); 
    padding: 10px 50px; 
    display: flex; 
    justify-content: space-between; 
    background-color: rgba($base-color-glay, 0.6); 
    box-shadow: 1px 5px 5px rgba($base-color-black, 0.1); 
    border-bottom: solid 1px $base-color-white;
}

.menu { 
    width: calc(100% - 190px); 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    > div { 
        margin: 0 15px; 
        position: relative; 
        &::before { 
            position: absolute; 
            content: ""; 
            top: 2px;  
            left: -14px; 
            width: 1px; 
            height: 16px; 
            background-color: $base-color-black; 
        }
        &:first-child::before {
            content: none;
        } 
    }
}

.logo_wrap { 
    width: 140px; 
    height: auto; 
    img {  
      width: 100%;  
      height: auto;
    }
}

.topimg {
    content: ""; 
    padding-top: 60px; 
    font-size: 140px; 
    text-align: center; 
    color: rgba($base-color-black, 0.1); 
    background-image: url(../img/city.jpg); 
    // -webkit-filter: grayscale(100%);  
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 50%;
    // animation: text_background 15s infinite; 
    position: relative;
    text-shadow: 1px 5px 10px rgba($base-color-black, 0.3);
}

.top_message {
    line-height: 1.8;
    width: 540px;
    margin: 40px auto 0;
    padding: 15px 20px;
    border-radius: $round;
    background-color: $base-color-glay;
}

.top_message > p:not(:last-child) {
    text-align: center;
    margin-bottom: 14px;
}
.sub_title {
    font-size: 16px;
    margin-bottom: 15px;
}

.menu_list_wrap { 
    width: 840; 
    margin: 60px auto 0; 
    display: flex; 
    justify-content: space-around;
}
.menu_list {
    width: 200px;
    [class$="_text"] {
        background: rgba($base-color-glay, 0.8);
        padding: 15px 20px;
    }
}

.menu_img {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 100px;
    img {
        height: auto;
        width: 200px;
        position: relative;
        z-index: 5;
    }
}

@for $i from 1 through 4 {
    .menu_list.menu#{$i}:hover {
        .menu#{$i}_img {
            filter: blur(4px);
        }
        .menu#{$i}_hover_img {
            position: absolute;
            z-index: 15;
            top: 10px;
            bottom: auto;
            left: 0;
            height: 80px;
            animation: slidein 3s;
            animation-name: fadeUpAnime;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }
}

.item_list { 
    width: 840; 
    min-height: 200px; 
    margin: 60px auto; 
    background: $base-color-glay; 
    display: flex; 
    justify-content: center; 
    padding: 20px; 
    flex-wrap: wrap; 
    gap: 1%; 
    .item {
        width: 32%; 
        background: $base-color-white; 
    }
}

.item_list .item.animate { 
    position: relative; 
    animation: slidein 3s; 
    animation-name: fadeUpAnime; 
    animation-duration: .5s; 
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnime{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1; 
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}