@import "_variables.scss";
@mixin bg_gradation1($direction, $color_st: #4e4e5a, $color_end: #22181b) {
    background: linear-gradient(to $direction, $color_st, $color_end);
}

body {
}

.bg_0 { 
    position: absolute; 
    content: ""; 
    width: 260px; 
    height: 700px; 
    background-color: $base-color-brown; 
    opacity: .8; 
    top: 50px; 
    left: 60px; 
    z-index: 5;
}

.bg_1 { 
    position: absolute; 
    content: ""; 
    width: 400px; 
    height: 200px; 
    background-color: $base-color-brown; 
    opacity: .4; 
    top: 600px; 
    left: 160px; 
    z-index: 10;
}

.bg_2 { 
    position: absolute; 
    content: ""; 
    width: 300px; 
    height: 600px; 
    background-color: $base-color-brown; 
    opacity: .6; 
    top: 500px; 
    right: 60px; 
    z-index: 15;
}

.main { 
    position: relative; 
    z-index: 30;
}

.header { 
    width: calc(100% - 100px); 
    padding: 10px 50px; 
    display: flex; 
    justify-content: space-between; 
    background-color: rgba($base-color-glay, 0.6); 
    box-shadow: 1px 5px 5px rgba($base-color-black, 0.1); 
    border-bottom: solid 1px $base-color-white;
}

.menu { 
    width: calc(100% - 190px); 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    > div { 
        margin: 0 15px; 
        position: relative; 
        &::before { 
            position: absolute; 
            content: ""; 
            top: 2px;  
            left: -14px; 
            width: 1px; 
            height: 16px; 
            background-color: $base-color-black; 
        }
        &:first-child::before {
            content: none;
        } 
    }
}

.logo_wrap { 
    width: 140px; 
    height: auto; 
    img {  
      width: 100%;  
      height: auto;
    }
}

.topimg {
    content: ""; 
    padding-top: 60px; 
    font-size: 140px; 
    text-align: center; 
    color: rgba($base-color-black, 0.1); 
    background-image: url(../img/city.jpg); 
    // -webkit-filter: grayscale(100%);  
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 50%;
    // animation: text_background 15s infinite; 
    position: relative;
    text-shadow: 1px 5px 10px rgba($base-color-black, 0.3);
}

.top_message {
    line-height: 1.8;
    width: 540px;
    margin: 40px auto 0;
    padding: 15px 20px;
    border-radius: $round;
    background-color: $base-color-glay;
}

.top_message > p:not(:last-child) {
    text-align: center;
    margin-bottom: 14px;
}
.sub_title {
    font-size: 16px;
    margin-bottom: 15px;
}

.menu_list_wrap { 
    width: 840; 
    margin: 60px auto 0; 
    display: flex; 
    justify-content: space-around;
}
.menu_list {
    width: 200px;
    [class$="_text"] {
        background: rgba($base-color-glay, 0.8);
        padding: 15px 20px;
    }
}

.menu_img {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 100px;
    img {
        height: auto;
        width: 200px;
        position: relative;
        z-index: 5;
    }
}

@for $i from 1 through 4 {
    .menu_list.menu#{$i}:hover {
        .menu#{$i}_img {
            filter: blur(4px);
        }
        .menu#{$i}_hover_img {
            position: absolute;
            z-index: 15;
            top: 10px;
            bottom: auto;
            left: 0;
            height: 80px;
            animation: slidein 3s;
            animation-name: fadeUpAnime;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }
}

.item_list { 
    width: 840; 
    min-height: 200px; 
    margin: 60px auto; 
    background: $base-color-glay; 
    display: flex; 
    justify-content: flex-start; 
    padding: 20px; 
    flex-wrap: wrap; 
    gap: 1%; 
    .item {
        width: 32%; 
        background: $base-color-white; 
    }
}

.item_list .item.animate { 
    position: relative; 
    animation: slidein 3s; 
    animation-name: fadeUpAnime; 
    animation-duration: .5s; 
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnime{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1; 
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}
// .bg_0 {//   position: absolute;//   content: "";//   width: 200px;//   height: 200px;//   background-color: #ca2bca;//   left: 0;// }// .bg_1 {//   position: absolute;//   content: "";//   width: 200px;//   height: 200px;//   background-color: red;//   left: 200px;// }// .bg_2 {//   position: absolute;//   content: "";//   width: 200px;//   height: 200px;//   background-color: blue;//   left: 400px;// }

// @import url(https://unpkg.com/nanoreset/nanoreset.min.css);// @import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900");// @import url("https://fonts.googleapis.com/css?family=Lato:400,700");// @import url(https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css);// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
// body > div {//   display: none !important;// }
// html {//   background: -moz-linear-gradient(top, #f6f6ff, #f5e2e8);//   background: -webkit-linear-gradient(top, #f6f6ff, #f5e2e8);//   background: linear-gradient(to bottom, #f6f6ff, #f5e2e8);//   height: 100vh;//   position: relative; }
// body {//   margin: 0;//   font-family: 'Noto Sans JP', sans-serif;//   /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*///   font-size: 13px;//   line-height: 18px;//   color: #332e2e;//   width: 100%;//   height: 100%;//   display: flex;//   flex-direction: column; }
// body > article {//   flex: 1; }
// h1, h2, h3, h4, h5, h6 {//   margin: 0;//   font-family: inherit;//   font-weight: bold;//   color: inherit;//   text-rendering: optimizelegibility; }
// a {//   display: inline-block; }
// main {//   width: 80vw;//   position: relative;//   margin: 0 auto;//   padding: 15px 0; }
// h3 {//   border-bottom: solid 1px #ccc;//   border-left: solid 5px #ccc;//   margin-bottom: 10px;//   padding: 6px 0 6px 10px; }
// h4 {//   padding-left: 15px;//   margin-bottom: 5px;//   position: relative; }//   h4:after {//     content: '';//     position: absolute;//     top: 4px;//     left: 0;//     width: 10px;//     height: 10px;//     background: #ccc; }
// select {//   padding: 5px;//   box-shadow: none;//   border: solid 1px #aaa; }
// header {//   width: 100%;//   min-height: 60px;//   text-align: left;//   background: #222;//   position: relative;//   color: #aaa;//   display: flex;//   justify-content: center; }//   header .header-inner {//     display: flex;//     width: 80vw;//     justify-content: space-between;//     align-items: center; }
// header .logo {//   color: #fff;//   width: 30%;//   max-width: 180px; }
// header .logo img {//   width: 100%;//   max-width: 250px; }
// header a {//   color: #aaa; }
// header .menulist {//   height: 30px;//   display: flex;//   justify-content: space-around;//   font-size: 0; }
// header .menulist div {//   padding: 5px 10px;//   border-left: solid 2px #aaa;//   display: inline-block;//   font-size: 14px; }
// header .menulist {//   border-right: solid 2px #aaa; }
// footer {//   width: 100%;//   text-align: center;//   background: #222;//   color: #aaa;//   padding: 10px 0; }
// footer a {//   color: #aaa; }//   footer a:hover {//     color: #fff; }//   footer a:active {//     color: #fff; }//   footer a:focus {//     color: #fff; }
// footer .menulist {//   margin-top: 14px;//   vertical-align: top;//   display: inline-flex;//   justify-content: center;//   font-size: 0;//   margin-bottom: 10px; }
// footer .menulist div {//   padding: 5px 10px;//   border-left: solid 2px #aaa;//   display: inline-block;//   font-size: 14px; }
// footer .menulist {//   border-right: solid 2px #aaa; }